.list-filter {
  height: auto;
  width: 100%;
  overflow-x: scroll;
  padding: 0 3rem;
}
.list-filter::-webkit-scrollbar {
  display: none;
}
.list-wrapper {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
@media screen and (max-width: 1020px) {
  .list-filter {
    padding: 0 1.5rem;
  }
}
