:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --white: #fff;
  --black: #0e1118;
  --beige: #f7e9d1;
  --red: #fe5824;
  --fts-xxl: 120px;
  --fts-xl: 44px;
  --fts-l: 28px;
  --fts-md: 18px;
  --fts-sm: 14px;
}

.contrast {
  --white: #fff;
  --black: #000;
  --blue: #000;
  --green: #000;
}

@media screen and (max-width: 1020px) {
  :root {
    --fts-xxl: 80px;
    --fts-xl: 32px;
    --fts-l: 22px;
    --fts-md: 18px;
    --fts-sm: 14px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: var(--fts-xxl);
  font-weight: 300;
}

h2 {
  font-size: var(--fts-xl);
  font-weight: 300;
}

h3 {
  font-size: var(--fts-l);
  font-weight: 300;
}

h4 {
  font-size: var(--fts-md);
  font-weight: 300;
}

h5 {
  font-size: var(--fts-sm);
  font-weight: 300;
}

p {
  font-size: var(--fts-md);
  font-weight: 300;
}

input:-internal-autofill-selected {
  appearance: initial !important;
  background-image: initial !important;
  background-color: initial !important;
  color: initial !important;
}

textarea {
  resize: none;
}
