.nav {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.nav-link-wrapper {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}

.mobile-nav-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1020px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    pointer-events: none;
  }

  .mobile-nav-button {
    pointer-events: all;
    display: block;
    position: relative;
    z-index: 1;
  }

  .nav-list {
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    pointer-events: all;
  }
  .nav-list.is-active {
    transform: scale(1);
  }

  .nav-link {
    color: var(--black);
    font-size: var(--fts-xl);
    font-weight: 300;
  }
}
